<br>
<h1><%= params[:distance] %> Miles of running! Go you!</h1>
<h1><%= params[:lon] %></h1>
<h1><%= params[:lat] %></h1>
MAP AND DIRECTIONS GO HERE
<h1><%= @destination_lat %></h1>
<h1><%= @destination_lon %></h1>
<%= @directions %>